# Dependencies
/node_modules
.pnp
.pnp.js

# Build Output
/dist
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
/coverage
.vscode-test/
.vscode-test-web/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env*.local

# Temp Files
.husky/node-version-cache.txt
*.vsix
