# Ignore extension configs
.vscode/**

# Ignore test files
.vscode-test/**
.temp
out/cjs/test/**
out/cjs/utilities/files/saveResponseFiles.js
workspaceTest.code-workspace

# Ignore source code
src/**
server/**
client/**
!client/dist/assets

# Ignore Misc
.yarnrc
vsc-extension-quickstart.md
**/.gitignore
**/tsconfig.json
**/vite.config.ts
.eslintignore
**/.eslintrc.json
**/*.map
**/*.ts
**/.husky/**
**/node_modules/**
LEARN.md
.lintstagedrc
.nvmrc
.prettierrc
.prettierignore
tsconfig*.json
.github/
l10n.schema.json
nls.schema.json
esbuild.config.js
package-lock.json
