# Ignore extension configs
.vscode/**

# Ignore test files
.vscode-test/**
.temp
out/cjs/test/**
out/cjs/utilities/files/saveResponseFiles.js

# Ignore source code
src/**
server/**
client/**
!client/dist

# Ignore Misc
.yarnrc
vsc-extension-quickstart.md
**/.gitignore
**/tsconfig.json
**/vite.config.ts
**/.eslintrc.json
**/*.map
**/*.ts
