@import 'tailwindcss';

@import 'tw-animate-css';

@config '../../tailwind.config.mts';

button {
  cursor: pointer;
}

:root {
  --header-height: 4rem;
  --footer-height: 5.5rem;
  --ifm-toc-border-color: hsl(var(--heroui-divider) / 0.15);
  --ifm-color-primary: var(--primary);
  --ifm-color-primary-dark: var(--primary);
  --ifm-color-primary-darker: var(--primary);
  --ifm-color-primary-darkest: var(--primary);
  --ifm-color-primary-light: var(--primary);
  --ifm-color-primary-lighter: var(--primary);
  --ifm-color-primary-lightest: var(--primary);

  --ifm-navbar-height: calc(var(--header-height) + 1px);
  --ifm-background-color: var(--background);
  --ifm-font-family-base:
    Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, system-ui, -apple-system, sans-serif,
    BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

  --docusaurus-highlighted-code-line-bg: color-mix(in srgb, var(--accent) 10%, transparent);

  --ifm-color-secondary: var(--secondary);
  --ifm-color-info: var(--accent);
  --ifm-color-success: var(--primary);
  --ifm-color-danger: var(--destructive);
}

[data-theme='dark'] {
  --docusaurus-highlighted-code-line-bg: color-mix(in srgb, var(--accent) 20%, transparent);
}

html {
  scroll-behavior: smooth;
}

@layer base {
  h1 {
    @apply my-6 text-4xl font-bold leading-tight;
  }
  h2 {
    @apply my-6 text-3xl font-semibold leading-snug;
  }
  h3 {
    @apply my-6 text-2xl font-semibold leading-snug;
  }
  h4 {
    @apply my-6 text-xl font-medium leading-snug;
  }
  h5 {
    @apply my-6 text-lg font-medium leading-snug;
  }
  h6 {
    @apply my-6 text-base font-medium leading-snug;
  }

  p {
    @apply mt-4 font-normal leading-[1.75];
  }

  hr {
    @apply my-8 border-t-2 border-t-gray-200 dark:border-t-gray-700;
  }

  video {
    @apply w-full max-w-[1048px] rounded-xl shadow-xl;
    aspect-ratio: 691 / 432;
  }

  .StepsItem-root .StepsItem-content > :first-of-type {
    @apply mt-2;
  }

  .medium-zoom-overlay {
    backdrop-filter: blur(24px);
    @apply z-50;
  }

  .medium-zoom-image--opened {
    @apply rounded-xl shadow-xl z-50;
  }

  ::view-transition-new(root) {
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><circle cx="20" cy="20" r="20" fill="white"/></svg>')
      center / 0 no-repeat;
    animation: scale 1s;
    animation-fill-mode: both;
  }

  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    animation: none;
    animation-fill-mode: both;
    z-index: -1;
  }
  .dark::view-transition-new(root) {
    animation: scale 1s;
    animation-fill-mode: both;
  }

  @keyframes scale {
    to {
      mask-size: 200vmax;
    }
  }

  .table-of-contents__link--active {
    @apply text-[#0d59f2];
  }
}

@layer components {
  /* =========================
     SearchBar
     ========================= */
  .searchbar-container {
    @apply w-full max-w-[200px] md:max-w-[300px] rounded-md overflow-hidden bg-content1 border border-divider dark:border-none;
  }

  .searchbar-container .DocSearch-Button {
    @apply w-full px-2 py-1;
  }

  .searchbar-container .DocSearch-Button-Container {
    @apply gap-1;
  }

  .searchbar-container .DocSearch-Button-Keys {
    @apply rounded-sm px-2 py-1 gap-0.5 h-[28px] w-[43px] min-w-[43px] flex items-center justify-center bg-primary/10 dark:bg-foreground/10;
  }

  .searchbar-container .DocSearch-Button-Keys .DocSearch-Button-Key {
    --docsearch-key-pressed-shadow: none;
    @apply bg-transparent text-primary dark:text-foreground/80 w-[12px] h-[12px] relative transition-all;
  }

  .searchbar-container .DocSearch-Button-Keys .DocSearch-Button-Key::before {
    @apply w-[calc(100%+4px)] h-[calc(100%+4px)] absolute m-auto;
    content: '';
  }

  .searchbar-container .DocSearch-Button-Keys .DocSearch-Button-Key:first-of-type::before {
    @apply rounded-l-sm -ml-[2px];
  }

  .searchbar-container .DocSearch-Button-Keys .DocSearch-Button-Key:last-of-type::before {
    @apply rounded-r-sm -mr-[2px];
  }

  .searchbar-container
    .DocSearch-Button-Keys
    .DocSearch-Button-Key.DocSearch-Button-Key--pressed::before {
    @apply bg-primary/20 dark:bg-foreground/20;
  }

  .searchbar-container .DocSearch-Button-Keys .DocSearch-Button-Key svg {
    @apply absolute w-[22px] h-[22px];
  }

  /* =========================
     DocSearch-Modal
     ========================= */

  /* 60px auto auto */
  .DocSearch-Modal {
    @apply m-[60px_auto_auto] rounded-lg bg-content1 border border-divider dark:border-none shadow-xl;
  }

  @media screen and (max-width: 768px) {
    .DocSearch-Modal {
      @apply m-0 rounded-none h-[100vh];
    }
  }

  .DocSearch-SearchBar .DocSearch-Form {
    @apply rounded-t-lg border-b border-divider px-4 py-3 bg-transparent gap-2;
  }

  .DocSearch-Dropdown {
    @apply px-4 py-3 bg-transparent gap-2;
  }

  .DocSearch-Hit-source {
    @apply bg-transparent;
  }

  li.DocSearch-Hit {
    @apply font-normal hover:opacity-100 my-2;
  }

  li.DocSearch-Hit[aria-selected='true'] {
    @apply opacity-100 font-medium bg-[#0d59f2]/10;
  }

  li.DocSearch-Hit a {
    --docsearch-hit-height: 52px;
    @apply bg-primary/5 dark:bg-foreground/3 px-3 py-1 rounded-md;
  }

  li.DocSearch-Hit .DocSearch-Hit-Container {
    @apply gap-2;
  }

  .DocSearch-NoResults {
    @apply m-[20px_auto_auto];
  }

  .DocSearch-Screen-Icon svg,
  .DocSearch-MagnifierLabel svg {
    @apply text-primary [stroke:currentColor];
  }

  .DocSearch-Footer {
    @apply rounded-b-lg border-t border-divider px-4 py-3 bg-transparent gap-2;
  }

  .DocSearch-Footer .DocSearch-Commands .DocSearch-Commands-Key {
    @apply bg-primary/10 text-primary dark:bg-foreground/10 dark:text-foreground/80 py-1 rounded-none w-fit;
  }

  .DocSearch-Footer
    .DocSearch-Commands
    .DocSearch-Commands-Key:not(.DocSearch-Commands-Key + .DocSearch-Commands-Key) {
    @apply rounded-l-md pl-1;
  }

  .DocSearch-Footer
    .DocSearch-Commands
    .DocSearch-Commands-Key:not(:has(+ .DocSearch-Commands-Key)) {
    @apply rounded-r-md pr-1;
  }

  .DocSearch-Footer .DocSearch-Commands .DocSearch-Commands-Key svg {
    width: 16px;
    height: 16px;
  }

  .DocSearch-Footer .DocSearch-Commands .DocSearch-Label {
    @apply ml-2;
  }
}
