---
import { TabItem } from '@astrojs/starlight/components'
import { CodeTabItem, CodeTabs } from 'starlight-theme-nova/components'

import Shortcut from './Shortcut.astro'
---

<CodeTabs>
  <TabItem label='VS Code Marketplace'>
    <div class='Installation-instructions'>
      <ol>
        <li>Open <strong>Visual Studio Code</strong>.</li>
        <li>
          Go to the <strong>Extensions View</strong>{' '}
          ( <Shortcut mac={['command', 'shift']} windows={['ctrl', 'shift']}>X</Shortcut> )
        </li>
        <li>Search for <code>View Exports SVG</code>.</li>
        <li>Click <strong>Install</strong> on the extension by <strong>Jair Torres</strong>.</li>
        <li>Once installed, reload the editor if prompted.</li>
      </ol>

      <p>
        You can also
        <a
          href='https://marketplace.visualstudio.com/items?itemName=JairTorres1003.jt-view-exports-svg'
        >
          open the Marketplace page →
        </a>
      </p>
    </div>
  </TabItem>
  <CodeTabItem
    label='Command Line'
    lang='bash'
    code='code --install-extension JairTorres1003.jt-view-exports-svg'
  />
</CodeTabs>

<style>
  .Installation-instructions {
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
  }

  .Installation-instructions ol {
    list-style-type: decimal;
    padding-left: 1rem;
  }

  .Installation-instructions li {
    margin: 0;
  }

  .Installation-instructions p {
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }
</style>
